* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header */
.header__container {
  background-color: #026aa7;
  box-sizing: border-box;
  display: flex;
  max-height: 40px;
  padding: 4px;
  display: flex;
}

.header__logo {
  background: url('/assets/images/logo.png') no-repeat 100% 0 / cover;
  height: 30px;
  width: 80px;
  opacity: 0.5;
  display: block;
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
}

.header__right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
