* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bx--form-item {
  max-width: 331px;
}

/* todo */
.todo {
  overflow-x: scroll;
  width: 100%;
  height: calc(100vh - 50px);
  padding: 10px;
  position: relative;
}

.todo__container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  white-space: nowrap;

  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 0px;
  user-select: none;
  overflow-x: auto;
}

/* todoList */
.todoList {
  background-color: #dfe3e6;
  border-radius: 3px;
  min-width: 300px;
  max-width: 300px;
  padding: 5px;
  margin: 0 8px 0 0;
  display: flex;
  flex-direction: column;
}

.todoList__content {
  min-height: 10px;
}

.todoList__head {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todoList__head__title {
  width: 100%;
  width: 100%;
  padding: 13px 5px;
  word-break: break-all;
}

/* todoCard */
.todoCard {
  white-space: pre-wrap;
  max-width: 331px;
  min-height: 85px;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  &:hover {
    .todoCard__button {
      display: block;
    }
  }
}

.todoCard__container {
  margin-bottom: 10px;
}

.todoCard__button {
  right: 5px;
  top: 5px;
  display: none;
  position: absolute;
  flex-direction: column;

  button {
    padding: 5px;
  }
}

.todoCard__title {
  width: 92%;
}

.todoCard__member {
  position: absolute;
  bottom: 5px;
  right: 15px;

  img {
    width: 28px;
    height: 28px;
  }
}

/* todoForm */
.todoForm__button {
  margin-top: 10px;
  align-items: center;
  display: flex;
}

/* todoCreate */
.todoCreate__button {
  cursor: pointer;
  display: flex;
  align-items: center;
}
