.header__container {
  background-color: #026aa7;
  box-sizing: border-box;
  display: flex;
  min-height: 40px;
  max-height: 40px;
  padding: 4px;
  display: flex;
  position: fixed;
  width: 100%;
}

.header__logo {
  background: url('/assets/images/logo.png') no-repeat 100% 0 / cover;
  height: 30px;
  width: 80px;
  opacity: 0.5;
  display: block;
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
}

.header__right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.header__avatar {
  width: 32px;
  height: 32px;
}

.bx--text-area {
  padding: 10px 7px;
}
